#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  width: 100vw;
}
#leftBar {
  position: absolute;
  grid-column: 1;
  height: 100%;
  background-color: rgb(250, 250, 250);
  border-right: rgb(109, 185, 230) 10px solid;
  width: 15vw;
  padding: 10px;
  margin: 0px;
  display: grid;
  grid-template-rows: 50% 50% 50%;
}
#petalInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 50vh;
  grid-row: 1;
}
#petalOne {
  grid-column: 1;
}
#petalTwo {
  grid-column: 1;
}
#petalThree {
  grid-column: 1;
}
#petalFour {
  grid-column: 2;
}
#petalFive {
  grid-column: 2;
}
#petalSix {
  grid-column: 2;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#mainContent {
  grid-column: 3 / span 1;
}
canvas {
  grid-column: 3 / span 1;
}

.mySliders {
  width: 80px;
  background-color: transparent;

  /* Removes some defaults */
  -webkit-appearance: none;
}
.mySliders::-webkit-slider-runnable-track {
  background: #707070;
  height: 1px;
  -webkit-appearance: none;

  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;
}
.mySliders::-webkit-slider-thumb {
  width: 5px;
  height: 5px;
  background: #0070cc;
  cursor: pointer;
  -webkit-appearance: none;

  /* negative top padding moves it up */
  margin-top: -2px;

  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;
}

#mySlidersChild {
  display: none;
}
#parent {
  height: 100px;
}
#visible {
  display: block;
}
